@model ALLINSHOP.Models.Admintrator

@{
    ViewBag.Title = "Admin_Regis";
    Layout = null;
}
@if (Session["AdminName"] != null)
{
    <head>
        <title>Admin Register</title>

        <!-- Meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
        <link href="~/styles/style.css" rel="stylesheet" />
        <script src="~/styles/fontawesome.js"></script>

    </head>

    <body>

        <div class="signinform">
            <h1>Admin Sign up</h1>
            <!-- container -->
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="container">
                    <div class="w3l-form-info">
                        <div class="w3_info">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <span><i class="fas fa-user" aria-hidden="true"></i></span>
                                    @Html.EditorFor(model => model.Admin_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Admin_Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span><i class="fas fa-key" aria-hidden="true"></i></span>
                                    @Html.EditorFor(model => model.Admin_Pa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Admin_Pa, "", new { @class = "text-danger" })
                                </div>
                                <button class="btn btn-primary " type="submit">Create</button>
                            </form>
                        </div>

                    </div>
                </div>
            }
            <!-- //main content -->
        </div>
        <!-- //container -->

        <script src="js/fontawesome.js"></script>


    </body>

}
