@model ALLINSHOP.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@if (Session["AdminName"] != null)
{
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Admin Edit Hero</title>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    </head>

    <body>

        <div class="card" style="width: 35rem;">
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ProductForm" }))
                {
                    <h4>Edit Product</h4>
                    <ul class="list-group list-group-flush">

                        @Html.HiddenFor(model => model.PO_ID)

                        <li class="list-group-item col-auto">
                            <img src="@Url.Content(Model.PO_Pic)" style="height:270px; width:100%" class="rounded-3" />
                        </li>

                        <li class="list-group-item">
                            @Html.LabelFor(model => model.PO_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-auto">
                                @Html.EditorFor(model => model.PO_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </li>

                        <li class="list-group-item">
                            @Html.LabelFor(model => model.PO_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-auto">
                                @Html.EditorFor(model => model.PO_Price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </li>

                        <li class="list-group-item">
                            @Html.LabelFor(model => model.Type.Type_Name, "Type_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-auto">
                                @Html.DropDownList("Type_ID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </li>

                        <li class="list-group-item">
                            @Html.LabelFor(model => model.Hero.Hero_Name, "Hero_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-auto">
                                @Html.DropDownList("Hero_ID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </li>
                   
                        <li class="list-group-item ms-auto">
                            <div class="col-md-offset-2 col-md-12 ms-auto">
                                <input type="submit" value="Save" class="btn btn-primary rounded-3" />
                                <button type="submit" class="btn btn-danger rounded-3" onclick="window.close()">Close</button>
                            </div>
                        </li>
                    </ul>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>

    </body>
}